*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#1A1A1A;
}
/* Dans App.css */
html {
    scroll-behavior: smooth;
}
#Skills{
    background-color: #343A40;
}
#contact{
    background-color: #343A40;
}
.acceuil{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-image:url(../public/assets/65774599d97ad4c957a59bc1_front-end-programming-languages-blog-hero-image.webp) ;
}
